# PROJET FINAL

la ville de chicago à publié un dataset avec les crimes qui se sont passés dans sa ville depuis 2001 :
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

/!\ fichier tres volumineux !!!!  volume>1.5Gb

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. Data is extracted from the Chicago Police Department's CLEAR (Citizen Law Enforcement Analysis and Reporting) system. In order to protect the privacy of crime victims, addresses are shown at the block level only and specific locations are not identified.

le dataset comporte plus de 6 000 000 d'entrées et sont representées par une vingtaine d'atributs


Dans un premier temps nous allons nettoyer et alleger nos données. puis nous verrons quelques statistiques pour en deduire la meilleur facons de representer nos données et en creer un modele. nous devrions alors pouvoir predire les heures ou les positions des crimes par leur type et date||position

# importation des données

In [1]:
# importation des librairies panda numpy et pyplot
import pandas as pd
from numpy.random import shuffle
import sklearn.utils

# ouverture du du datafram train.csv (with pandas) -> dfTrain
dfTrain = pd.read_csv('Crimes_-_2001_to_present.csv',header=0)

## decouverte et definitions

In [2]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6252157 entries, 0 to 6252156
Data columns (total 22 columns):
ID                      int64
Case Number             object
Date                    object
Block                   object
IUCR                    object
Primary Type            object
Description             object
Location Description    object
Arrest                  bool
Domestic                bool
Beat                    int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                object
X Coordinate            float64
Y Coordinate            float64
Year                    int64
Updated On              object
Latitude                float64
Longitude               float64
Location                object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 965.9+ MB

+ ID : identifiant unique

+ Case number : The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.

+ Date : Date when the incident occurred. this is sometimes a best estimate.

+ Block : The partially redacted address where the incident occurred, placing it on the same block as the actual address.

+ Primary Type : The primary description of the IUCR code.

+ IUCR : The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.

+ Description : The secondary description of the IUCR code, a subcategory of the primary description.

+ Location Description : Description of the location where the incident occurred.

+ Arrest : Indicates whether an arrest was made.

+ Domestic : Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.

+ Beat : Indicates the beat where the incident occurred. A beat is the smallest police geographic area – each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.

+ District : Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.

+ Ward : The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.

+ Community Area : Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.

+ FBI Code : Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.

+ X Coordinate : The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.

+ Y Coordinate : The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.

+ Year : Year the incident occurred.

+ Updated On : Date and time the record was last updated.

+ Latitude : The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.

+ Longitude : The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.

+ Location : The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.

dans notre cas de machine learning, nous n'avons pas besoins de toutes ces données... des petites supressions sont necessaire :)

In [5]:
dfTrain.drop('Description', axis=1, inplace=True)
dfTrain.drop('Location', axis=1, inplace=True)
dfTrain.drop('ID', axis=1, inplace=True)
dfTrain.drop('FBI Code', axis=1, inplace=True)
dfTrain.drop('Updated On', axis=1, inplace=True)
dfTrain.drop('Community Area', axis=1, inplace=True)
dfTrain.drop('Ward', axis=1, inplace=True)
dfTrain.drop('District', axis=1, inplace=True)
dfTrain.drop('Beat', axis=1, inplace=True)
dfTrain.drop('Location Description', axis=1, inplace=True)
dfTrain.drop('IUCR', axis=1, inplace=True)
dfTrain.drop('Case Number', axis=1, inplace=True)

ValueError: labels ['Description'] not contained in axis

In [7]:
dfTrain.describe()

C:\Program Files\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       X Coordinate  Y Coordinate          Year      Latitude     Longitude
count  6.169980e+06  6.169980e+06  6.252157e+06  6.169980e+06  6.169980e+06
mean   1.164473e+06  1.885634e+06  2.007598e+03  4.184178e+01 -8.767196e+01
std    1.741091e+04  3.304248e+04  4.464532e+00  9.093664e-02  6.292649e-02
min    0.000000e+00  0.000000e+00  2.001000e+03  3.661945e+01 -9.168657e+01
25%             NaN           NaN  2.004000e+03           NaN           NaN
50%             NaN           NaN  2.007000e+03           NaN           NaN
75%             NaN           NaN  2.011000e+03           NaN           NaN
max    1.205119e+06  1.951622e+06  2.017000e+03  4.202291e+01 -8.752453e+01

In [8]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6252157 entries, 0 to 6252156
Data columns (total 10 columns):
Date            object
Block           object
Primary Type    object
Arrest          bool
Domestic        bool
X Coordinate    float64
Y Coordinate    float64
Year            int64
Latitude        float64
Longitude       float64
dtypes: bool(2), float64(4), int64(1), object(3)
memory usage: 393.5+ MB

# nettoyage des données

### nous allons commencer par retrouver toutes les coordonées (latitudes longitudes) manquantes

test 1 : existe t'il des X Coordinate quand il n'y a pas de latitude

In [9]:
dfTrain[pd.isnull(dfTrain['Latitude']) & pd.notnull(dfTrain['X Coordinate'])].size

0

test 1 : result = 0 => X et Y Coordinate ne sont pas utiles

In [10]:
dfTrain.drop('X Coordinate', axis=1, inplace=True)
dfTrain.drop('Y Coordinate', axis=1, inplace=True)

test 2 : existe t'il des 'Block' quand il nous manque la latitude?

In [11]:
dfTrain[pd.isnull(dfTrain['Latitude']) & pd.notnull(dfTrain['Block'])]['Block'].size

82177

test 2 : result : 82177 => nous devons donc retrouver les coordonées geographique avec les Block

verification :

In [12]:
dfTrain[pd.isnull(dfTrain['Latitude'])]['Block'].size

82177

In [13]:
dfTrain[pd.isnull(dfTrain['Block'])].size

0

les block sont tous presents!
regardons comment les adresses sont formées

In [14]:
dfTrain[pd.isnull(dfTrain['Latitude'])]['Block']

73                   046XX W 49TH ST
365                  009XX E 40TH ST
454            045XX N CLARENDON AVE
786              112XX S HERMOSA AVE
814              042XX N ASHLAND AVE
842              069XX S STEWART AVE
867                  003XX E 29TH ST
879                082XX S COLES AVE
1062                 003XX E 29TH ST
1078                 015XX E 55TH ST
1136                 023XX W OHIO ST
1498             0000X S LA SALLE ST
2234                072XX S BELL AVE
2368                 033XX W 47TH ST
2394             050XX S WESTERN AVE
2402                050XX N BROADWAY
2406       023XX N LINCOLN PARK WEST
2411                001XX N STATE ST
2418             022XX N LINCOLN AVE
2919             025XX N KIMBALL AVE
2927              045XX W MONTANA ST
3312             025XX N KEDZIE BLVD
3346             046XX N SHERIDAN RD
3389          020XX N CALIFORNIA AVE
3422              033XX S LEAVITT ST
3633             012XX S HARDING AVE
3694                 008XX W 34TH PL
3791             107XX S PARNELL AVE
4085              088XX S RACINE AVE
4202           047XX S VINCENNES AVE
                     ...
6246980          0000X N HAMLIN BLVD
6247069              001XX W 61ST ST
6247088            047XX S EVANS AVE
6247178          030XX W CARROLL AVE
6247268             002XX W 110TH ST
6248141            027XX N AVERS AVE
6248154           082XX S HALSTED ST
6248185         016XX N OAK PARK AVE
6248459           070XX S TALMAN AVE
6248488            019XX W WINONA ST
6248683          095XX S JEFFERY AVE
6248791           001XX N WALLER AVE
6249184         043XX W WABANSIA AVE
6249299      007XX N SACRAMENTO BLVD
6249414           011XX W AINSLIE ST
6249821              005XX N TROY ST
6249959            018XX W NORTH AVE
6250096           071XX S SEELEY AVE
6250129            025XX W CERMAK RD
6250153       006XX W FULLERTON PKWY
6250292         007XX N MICHIGAN AVE
6250317              020XX E 70TH ST
6250532         087XX S JEFFERY BLVD
6251355              014XX E 76TH ST
6251360           109XX S NORMAL AVE
6251566        079XX S MARQUETTE AVE
6251709             001XX E 120TH ST
6251828       015XX N MONTICELLO AVE
6251889         012XX N ARTESIAN AVE
6252087              0000X W 24TH ST
Name: Block, dtype: object

nous remarquons que les numeros de batiment sont tous anonymisés en remplacant le ou les deux derniers chiffres par X ou XX.

## utilisation de l'API Google : Geocoder

pour chaque adresse qui ne contiens pas de latitude, nous envoyons sont adresse a l'api geocoder en remplacant prealablement les X ou XX par 4 ou 49 respectivement (milieu de la rue).
l'api nous retourne la position geographique.

/!\ l'api google nous donne droit a seulement 2480 requettes gratuite par jours!

In [ ]:
import googlemaps
gmaps = googlemaps.Client(key='AIzaSyAaoUEHnIO_cpTOMyaX8u1Li-YzhRhe_-A')

def getLatLngWithBlock(block):
    block = block + ''
    block = block.replace("XX", "49", 1)
    block = block.replace("0X", "04", 1)
    geocode_result = gmaps.geocode(block+', CHICAGO')
    if len(geocode_result) > 0 :
        return [geocode_result[0]['geometry']['location']['lat'],geocode_result[0]['geometry']['location']['lng']]
    else :
        return [float(0),float(0)]

print(dfTrain[pd.isnull(dfTrain['Latitude'])]['Block'].size)
i = 0;
for index, row in dfTrain[pd.isnull(dfTrain['Latitude'])].iterrows():
    if i < 2400 :
        i = i + 1
        print(i)
        latlng = getLatLngWithBlock(row['Block'])
        print(latlng)
        if len(latlng) > 0 :
            dfTrain.set_value(index,'Latitude',latlng[0])
            dfTrain.set_value(index,'Longitude',latlng[1])
    
print(dfTrain[pd.isnull(dfTrain['Latitude'])]['Block'].size)

## types de crime

nous allons remplacer les type de crime (aujourd'hui des "string") par des numero leur correspondant

In [18]:
dfTrain.head()

,Date,Block,Primary Type,Arrest,Domestic,Year,Latitude,Longitude
0,04/02/2006 01:00:00 PM,055XX N MANGO AVE,OTHER OFFENSE,False,False,2006,41.981913,-87.771996
1,02/26/2006 01:40:48 PM,065XX S RHODES AVE,NARCOTICS,True,False,2006,41.775733,-87.611920
2,01/08/2006 11:16:00 PM,013XX E 69TH ST,ASSAULT,False,False,2006,41.769897,-87.593671
3,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,BATTERY,True,True,2016,41.864073,-87.706819
4,04/05/2006 06:45:00 PM,061XX W NEWPORT AVE,BATTERY,False,False,2006,41.942984,-87.780057

les Primary Type sont bien des strings

In [19]:
dfTrain['Primary Type'].unique()

array(['OTHER OFFENSE', 'NARCOTICS', 'ASSAULT', 'BATTERY', 'THEFT',
       'CRIMINAL TRESPASS', 'MOTOR VEHICLE THEFT', 'ROBBERY',
       'DECEPTIVE PRACTICE', 'CRIMINAL DAMAGE', 'BURGLARY', 'INTIMIDATION',
       'PROSTITUTION', 'SEX OFFENSE', 'PUBLIC PEACE VIOLATION',
       'CRIM SEXUAL ASSAULT', 'WEAPONS VIOLATION', 'HOMICIDE',
       'INTERFERENCE WITH PUBLIC OFFICER', 'OFFENSE INVOLVING CHILDREN',
       'LIQUOR LAW VIOLATION', 'KIDNAPPING', 'STALKING', 'GAMBLING',
       'ARSON', 'PUBLIC INDECENCY', 'OTHER NARCOTIC VIOLATION',
       'OBSCENITY', 'RITUALISM', 'NON-CRIMINAL', 'HUMAN TRAFFICKING',
       'CONCEALED CARRY LICENSE VIOLATION', 'NON - CRIMINAL',
       'NON-CRIMINAL (SUBJECT SPECIFIED)', 'DOMESTIC VIOLENCE'], dtype=object)

nous pouvons realiser une bibliotheque qui reference un numero "à la main"

In [20]:
dictio = {'OTHER OFFENSE':1, 'NARCOTICS':2, 'ASSAULT':3, 'BATTERY':4, 'THEFT':5,
       'CRIMINAL TRESPASS':6, 'MOTOR VEHICLE THEFT':7, 'ROBBERY':8,
       'DECEPTIVE PRACTICE':9, 'CRIMINAL DAMAGE':10, 'BURGLARY':11, 'INTIMIDATION':12,
       'PROSTITUTION':13, 'SEX OFFENSE':14, 'PUBLIC PEACE VIOLATION':15,
       'CRIM SEXUAL ASSAULT':16, 'WEAPONS VIOLATION':17, 'HOMICIDE':18,
       'INTERFERENCE WITH PUBLIC OFFICER':19, 'OFFENSE INVOLVING CHILDREN':20,
       'LIQUOR LAW VIOLATION':21, 'KIDNAPPING':22, 'STALKING':23, 'GAMBLING':24,
       'ARSON':26, 'PUBLIC INDECENCY':27, 'OTHER NARCOTIC VIOLATION':28,
       'OBSCENITY':29, 'RITUALISM':30, 'NON-CRIMINAL':31, 'HUMAN TRAFFICKING':32,
       'CONCEALED CARRY LICENSE VIOLATION':33, 'NON - CRIMINAL':34,
       'NON-CRIMINAL (SUBJECT SPECIFIED)':35, 'DOMESTIC VIOLENCE':36}

In [21]:
dfTrain = dfTrain.replace({"Primary Type": dictio})

## Date

nos dates sont sous forme de string, nous voulons pouvoir recuperer separement le jour, mois, heure...

In [22]:
dfTrain.head()

,Date,Block,Primary Type,Arrest,Domestic,Year,Latitude,Longitude
0,04/02/2006 01:00:00 PM,055XX N MANGO AVE,1,False,False,2006,41.981913,-87.771996
1,02/26/2006 01:40:48 PM,065XX S RHODES AVE,2,True,False,2006,41.775733,-87.611920
2,01/08/2006 11:16:00 PM,013XX E 69TH ST,3,False,False,2006,41.769897,-87.593671
3,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,4,True,True,2016,41.864073,-87.706819
4,04/05/2006 06:45:00 PM,061XX W NEWPORT AVE,4,False,False,2006,41.942984,-87.780057

In [24]:
dfTrain['Date']=pd.to_datetime(dfTrain["Date"])

dfTrain['Year']=dfTrain['Date'].dt.year
dfTrain['Month']=dfTrain['Date'].dt.month
dfTrain['Day']=dfTrain['Date'].dt.day
dfTrain['Hour']=dfTrain['Date'].dt.hour

In [25]:
dfTrain.drop('Block', axis=1, inplace=True)
dfTrain.drop('Date', axis=1, inplace=True)

# Write data

In [26]:
df = dfTrain[pd.notnull(dfTrain['Latitude']) & pd.notnull(dfTrain['Longitude'])]
dfAll = sklearn.utils.shuffle(df)
dfAll = dfAll.reset_index(drop=True)
dfTrain1 = dfAll[:-1252157]
dfTest1 =dfAll[-1252157:]

In [27]:
dfTrain1.to_csv('ChicagoTrain.csv')

In [28]:
dfTest1.to_csv('ChicagoTest.csv')

In [29]:
dfAll.to_csv('ChicagoAll.csv')