# PROJET FINAL

la ville de chicago à publié un dataset avec les crimes qui se sont passés dans sa ville depuis 2001 :
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. Data is extracted from the Chicago Police Department's CLEAR (Citizen Law Enforcement Analysis and Reporting) system. In order to protect the privacy of crime victims, addresses are shown at the block level only and specific locations are not identified.

le dataset comporte plus de 6 000 000 d'entrées et sont representées par une vingtaine d'atributs


je voudrais realiser des statistiques pour la decouverte des données.
puis predire les lieux de crimes, et le type de crimes.

plus precisement , creer une map des quartiers a risque pour une date donnée dans le present et le futur
et predire le type de crime en fonction de la date et du lieux du crime ou l'heure du crime en fonction du lieux et type de crime

# importation des données

In [1]:
# importation des librairies panda numpy et pyplot
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import pylab as plb
from PIL import Image
from sklearn import linear_model
import requests
from sklearn import preprocessing

# ouverture du du datafram train.csv (with pandas) -> dfTrain
dfAll = pd.read_csv('Crimes_-_2001_to_present.csv',header=0)

In [2]:
#info sur les données
#dfAll[dfAll['IUCR'] == '1050']

In [3]:
from numpy.random import shuffle
import sklearn.utils
dfAll = sklearn.utils.shuffle(dfAll)
dfAll = dfAll.reset_index(drop=True)
dfTrain = dfAll[:-1252157]
dfTest =dfAll[-1252157:]

del dfAll
del dfTest

dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 22 columns):
ID                      int64
Case Number             object
Date                    object
Block                   object
IUCR                    object
Primary Type            object
Description             object
Location Description    object
Arrest                  bool
Domestic                bool
Beat                    int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                object
X Coordinate            float64
Y Coordinate            float64
Year                    int64
Updated On              object
Latitude                float64
Longitude               float64
Location                object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 772.5+ MB

+ ID : identifiant unique

+ Case number : The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.

+ Date : Date when the incident occurred. this is sometimes a best estimate.

+ Block : The partially redacted address where the incident occurred, placing it on the same block as the actual address.

+ Primary Type : The primary description of the IUCR code.

+ IUCR : The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.

+ Description : The secondary description of the IUCR code, a subcategory of the primary description.

+ Location Description : Description of the location where the incident occurred.

+ Arrest : Indicates whether an arrest was made.

+ Domestic : Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.

+ Beat : Indicates the beat where the incident occurred. A beat is the smallest police geographic area – each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.

+ District : Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.

+ Ward : The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.

+ Community Area : Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.

+ FBI Code : Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.

+ X Coordinate : The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.

+ Y Coordinate : The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.

+ Year : Year the incident occurred.

+ Updated On : Date and time the record was last updated.

+ Latitude : The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.

+ Longitude : The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.

+ Location : The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.

Case number
X Coordinate
Y Coordinate
Updated On

In [4]:
dfTrainLittle = pd.DataFrame(dfTrain[-10000:])
del dfTrain
#dfTrainLittle = dfTrain
dfTrainLittle.describe()

C:\Program Files\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,1.000000e+04,10000.000000,10000.000000,9056.000000,9055.000000,9.850000e+03,9.850000e+03,10000.000000,9850.000000,9850.000000
mean,5.856553e+06,1182.328800,11.195800,22.541961,37.651022,1.164796e+06,1.885764e+06,2007.638100,41.842130,-87.670783
std,2.812922e+06,698.307536,6.877688,13.863833,21.568753,1.607096e+04,3.141723e+04,4.480372,0.086403,0.058480
min,6.790000e+02,111.000000,1.000000,1.000000,1.000000,1.099348e+06,1.813914e+06,2001.000000,41.644604,-87.910016
25%,3.296124e+06,621.000000,6.000000,NaN,NaN,NaN,NaN,2004.000000,NaN,NaN
50%,5.775807e+06,1033.000000,10.000000,NaN,NaN,NaN,NaN,2007.000000,NaN,NaN
75%,8.287815e+06,1723.000000,17.000000,NaN,NaN,NaN,NaN,2011.000000,NaN,NaN
max,1.082039e+07,2535.000000,31.000000,50.000000,77.000000,1.204793e+06,1.951492e+06,2017.000000,42.022525,-87.525805

In [5]:
dfTrainLittle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 4990000 to 4999999
Data columns (total 22 columns):
ID                      10000 non-null int64
Case Number             10000 non-null object
Date                    10000 non-null object
Block                   10000 non-null object
IUCR                    10000 non-null object
Primary Type            10000 non-null object
Description             10000 non-null object
Location Description    9998 non-null object
Arrest                  10000 non-null bool
Domestic                10000 non-null bool
Beat                    10000 non-null int64
District                10000 non-null float64
Ward                    9056 non-null float64
Community Area          9055 non-null float64
FBI Code                10000 non-null object
X Coordinate            9850 non-null float64
Y Coordinate            9850 non-null float64
Year                    10000 non-null int64
Updated On              10000 non-null object
Latitude                9850 non-null float64
Longitude               9850 non-null float64
Location                9850 non-null object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.5+ MB

# nettoyage des données

In [7]:
dfTrainLittle.drop('Case Number', axis=1, inplace=True)
dfTrainLittle.drop('Updated On', axis=1, inplace=True)

In [8]:
dfTrainLittle[pd.isnull(dfTrainLittle['Latitude']) & pd.notnull(dfTrainLittle['X Coordinate'])].size

0

In [9]:
dfTrainLittle.drop('X Coordinate', axis=1, inplace=True)
dfTrainLittle.drop('Y Coordinate', axis=1, inplace=True)

In [10]:
dfTrainLittle[pd.isnull(dfTrainLittle['Latitude']) & pd.notnull(dfTrainLittle['Block'])]['Block'].size

150

In [11]:
dfTrainLittle[pd.isnull(dfTrainLittle['Latitude'])]['Block'].size

150

In [12]:
dfTrainLittle[pd.isnull(dfTrainLittle['Block'])].size

0

In [13]:
dfTrainLittle[pd.isnull(dfTrainLittle['Latitude'])]['Block']

4990083                      038XX W PIPPIN ST
4990207                      008XX N HOMAN AVE
4990243                       059XX S GREEN ST
4990257    060XX S DR MARTIN LUTHER KING JR DR
4990261                        008XX W 86TH PL
4990269                        065XX S KING DR
4990281                      026XX W HIRSCH ST
4990359                   056XX S ELIZABETH ST
4990466                    045XX S DREXEL BLVD
4990533                      037XX N RACINE AV
4990548                        040XX W 57TH ST
4990583                     046XX S HALSTED ST
4990671                 017XX W WRIGHTWOOD AVE
4990757                    085XX W RASCHER AVE
4990805                  0000X E WASHINGTON ST
4990819                   014XX N CAMPBELL AVE
4990833                        007XX E 81ST ST
4990875                    075XX N WESTERN AVE
4990941                      029XX N MASON AVE
4990957                     065XX S DREXEL AVE
4991259                        0000X E OHIO ST
4991351                   017XX W FULLERTON AV
4991394                    002XX S WESTERN AVE
4991511                        004XX W 27TH ST
4991645                      066XX S DAMEN AVE
4991662                        016XX W 95TH ST
4991689                       050XX W DAKIN ST
4991778                   005XX E MARQUETTE RD
4991870                 031XX N CHRISTIANA AVE
4991883                        0000X E OHIO ST
                          ...
4998572                  070XX S MAPLEWOOD AVE
4998578                    027XX W BELMONT AVE
4998669                        002XX W 72ND ST
4998845                     064XX S DREXEL AVE
4998886                         006XX W 111 ST
4998889                       008XX E 103RD ST
4998914                  024XX N LAKE SHORE DR
4999082                        052XX S KING DR
4999132                         057XX S MAY ST
4999149                    031XX W FILLMORE ST
4999152                006XX W WASHINGTON BLVD
4999156                  058XX S PRINCETON AVE
4999198                       014XX S CANAL ST
4999219                         004XX W ELM ST
4999240                 006XX N CHRISTIANA AVE
4999261                         005XX E 105 ST
4999351                     014XX N LINDER AVE
4999379                      063XX S MORGAN ST
4999548                        011XX W 87TH ST
4999583                       053XX N CLARK ST
4999677                    042XX N KENMORE AVE
4999678                  066XX S GREENWOOD AVE
4999687                    035XX N NATCHEZ AVE
4999699                        026XX W 19TH ST
4999701                    001XX S OAKLEY BLVD
4999829                         009XX E 133 ST
4999830                   104XX S MARYLAND AVE
4999895                  010XX N FRANCISCO AVE
4999933                      049XX N DAMEN AVE
4999979                004XX E LOWER WACKER DR
Name: Block, dtype: object

In [14]:
dfTrainLittle.to_csv('ChicagoTrain.csv')

In [15]:
import geocoder

In [16]:

def getLatLngWithBlock(block):
    block = block + ''
    block = block.replace("XX", "49", 1)
    g = geocoder.google(block+', CHICAGO')
    print(block)
    return g.latlng

print(dfTrainLittle[pd.isnull(dfTrainLittle['Latitude'])]['Block'].size)

for index, row in dfTrainLittle[pd.isnull(dfTrainLittle['Latitude'])].iterrows():
    latlng = getLatLngWithBlock(row['Block'])
    print(latlng)
    if len(latlng) > 0 :
        dfTrainLittle.set_value(index,'Latitude',latlng[0])
        dfTrainLittle.set_value(index,'Longitude',latlng[1])
    
print(dfTrainLittle[pd.isnull(dfTrainLittle['Latitude'])]['Block'].size)

150
03849 W PIPPIN ST
[41.7533576, -87.7202398]
00849 N HOMAN AVE
[41.8969655, -87.71146809999999]
05949 S GREEN ST
[41.7856339, -87.64613659999999]
06049 S DR MARTIN LUTHER KING JR DR
[41.784309, -87.6157108]
00849 W 86TH PL
[41.73695499999999, -87.6454816]
06549 S KING DR
[41.7751276, -87.61551949999999]
02649 W HIRSCH ST
[41.90660270000001, -87.6939653]
05649 S ELIZABETH ST
[41.7909031, -87.6559922]
04549 S DREXEL BLVD
[41.8116147, -87.60396850000001]
03749 N RACINE AV
[41.95041639999999, -87.6592421]
04049 W 57TH ST
[41.7893488, -87.72492869999999]
04649 S HALSTED ST
[41.8091997, -87.64552669999999]
01749 W WRIGHTWOOD AVE
[41.928725, -87.6718348]
08549 W RASCHER AVE
[41.9783259, -87.841141]
0000X E WASHINGTON ST
[41.8832307, -87.62784110000001]
01449 N CAMPBELL AVE
[41.908034, -87.6896048]
00749 E 81ST ST
[41.7475594, -87.60589209999999]
07549 N WESTERN AVE
[42.0188207, -87.69012699999999]
02949 N MASON AVE
[41.9344931, -87.7748446]
06549 S DREXEL AVE
[41.7753683, -87.6033755]
0000X E OHIO ST
[41.8924843, -87.6280776]
01749 W FULLERTON AV
[41.9250912, -87.67177819999999]
00249 S WESTERN AVE
[41.877913, -87.6862697]
00449 W 27TH ST
[41.84451929999999, -87.6386095]
06649 S DAMEN AVE
[41.7725524, -87.67372019999999]
01649 W 95TH ST
[41.7211357, -87.66420649999999]
05049 W DAKIN ST
[41.9523917, -87.7541866]
00549 E MARQUETTE RD
[41.77484339999999, -87.6115722]
03149 N CHRISTIANA AVE
[41.9389075, -87.71124789999999]
0000X E OHIO ST
[41.8924843, -87.6280776]
02549 W 66TH ST
[41.7736064, -87.6879981]
02149 S HOMAN AVE
[41.8522579, -87.7101151]
00349 E 57TH ST
[41.7911363, -87.61718350000001]
04949 N AUSTIN AVE
[41.9717865, -87.7782503]
05749 S KING DR
[41.7911469, -87.6158846]
02849 W PALMER ST
[41.921663, -87.6992219]
08349 S MARQUETTE AVE
[41.7431468, -87.55855629999999]
07549 S EGGLESTON AVE
[41.75685120000001, -87.63566589999999]
00349 N PEORIA ST
[41.8881266, -87.64986239999999]
02849 W 25TH PL
[41.8455414, -87.6971872]
00149 W 109 ST
[41.6961721, -87.6276793]
03649 W 115 ST
[41.6840795, -87.71252659999999]
05449 N SHERIDAN RD
[41.9812596, -87.655137]
00149 N PARKSIDE AVE
[41.8836625, -87.7666356]
05049 S LAKE SHORE DR SB
[41.866261, -87.6169805]
07049 S PULASKI RD
[41.7637808, -87.72223059999999]
01849 N SHEFFIELD AV
[41.915182, -87.6532673]
04849 N AUSTIN AVE
[41.9690559, -87.7782967]
05049 S ARCHER AVE
[41.8012567, -87.7262002]
08149 S VERNON AVE
[41.746032, -87.61357199999999]
04249 S TALMAN AVE
[41.8162975, -87.6907677]
00849 E 90TH ST
[41.7311996, -87.6027032]
12649 S HALSTED ST
[41.6636002, -87.6413618]
01549 W WASHBURNE AVE
[41.8659876, -87.66589859999999]
02849 W BELMONT AVE
[41.9391676, -87.69973900000001]
01749 S NEWBERRY AVE
[41.8582664, -87.647622]
00249 N LAMON AVE
[41.88537470000001, -87.7478952]
07649 S UNION AVE
[41.75466530000001, -87.64169389999999]
00549 W HARRISON ST
[41.8743954, -87.6413836]
02849 S DR MARTIN LUTHER KING JR DR
[41.8426014, -87.6172362]
02849 N MOZART ST
[41.9326725, -87.69886780000002]
00549 N MILWAUKEE AVE
[41.8919625, -87.64878499999999]
05449 W THOMAS ST
[41.9003518, -87.7627699]
0000X W B9 ST
[]
00749 W 71ST ST
[41.7652093, -87.6431727]
07949 S HALSTED ST
[41.7491747, -87.64374959999999]
00449 W OAK ST
[41.9004461, -87.6405016]
02349 S STATE ST
[41.8495972, -87.62701229999999]
05849 N MERRIMAC AVE
[41.9879713, -87.7837035]
06149 S KING DR
[41.7824844, -87.61568109999999]
00549 E 105 ST
[41.70353, -87.60931219999999]
02849 W 40TH PL
[41.8200657, -87.69658199999999]
08149 S DOBSON AVE
[41.7469062, -87.5990123]
00649 N LAKE SHORE DR SB
[]
0000X E CHICAGO AVE
[41.8966918, -87.6281916]
02849 S HOMAN AVE
[41.8393909, -87.7097515]
03149 S CANAL ST
[41.8367389, -87.6377095]
03649 S MICHIGAN AVE
[41.8281544, -87.6231859]
05849 S ELIZABETH ST
[41.78735349999999, -87.65588629999999]
07249 N CLARK ST
[42.0132137, -87.6747232]
04149 S MICHIGAN AVE
[41.8187874, -87.6230885]
02049 W NORTH AVE
[41.9104343, -87.67951149999999]
00249 N CICERO AVE
[41.8853219, -87.7454461]
01649 S KILDARE AVE
[41.8583082, -87.73226880000001]
00449 E 59 ST
[41.7875187, -87.6158095]
03949 N PULASKI RD
[41.95324220000001, -87.72761179999999]
04649 S KARLOV AVE
[41.8083564, -87.7260427]
02249 W WABANSIA AVE
[41.9126112, -87.68435600000001]
01549 W 73RD ST
[41.76127220000001, -87.6630346]
03649 W POLK ST
[41.8708292, -87.7173522]
10849 S WENTWORTH AVE
[41.6968339, -87.62801429999999]
08049 S INGLESIDE AVE
[41.7480806, -87.6014611]
10349 S COTTAGE GROVE AVE
[41.70595, -87.60646000000001]
01849 W MONTROSE AVE
[41.9614918, -87.675794]
07149 S CHAMPLAIN AVE
[41.7643914, -87.6091931]
00849 E 103 ST
[41.7075129, -87.60258789999999]
13749 S BRAINARD AVE
[41.6453394, -87.5418873]
01949 S WELLS ST
[41.8557064, -87.6327673]
05149 S WESTERN BLVD
[41.7998672, -87.6836313]
06149 S MC VICKER AVE
[41.7800489, -87.7727943]
01449 N BOSWORTH AVE
[41.9084353, -87.666412]
05249 S DAN RYAN LOCAL OB
[41.8830278, -87.624905]
06049 S PEORIA ST
[41.7836894, -87.6472764]
02449 W LEXINGTON ST
[41.8720458, -87.68811389999999]
10349 S DOTY AVE E
[41.6992492, -87.59370849999999]
01449 N LUIS MUNOZ MARIN DR
[41.9017857, -87.7057748]
00749 E 131ST ST
[41.657019, -87.6030481]
09349 S PERRY AVE
[41.7239217, -87.6262972]
09149 S CREGIER AVE
[41.7282349, -87.5803575]
01349 W 123 ST
[41.6703287, -87.65506049999999]
03149 N BERNARD ST
[41.93874659999999, -87.7136924]
05349 N MC VICKER AVE
[41.978922, -87.779134]
11549 S MARSHFIELD AVE
[41.6836939, -87.6626743]
00249 W SOUTH WATER MARKET ST
[41.8620764, -87.65415019999999]
04749 S HERMITAGE AVE
[41.807087, -87.6685818]
00649 N LONG AVE
[41.892564, -87.7605518]
01649 N LAKE SHORE DR
[41.9110887, -87.62625700000001]
04649 S FAIRFIELD AVE
[41.8087303, -87.6929842]
01349 W BRYN MAWR AVE
[41.9835514, -87.66407459999999]
11349 S HOMAN AVE
[41.6868537, -87.70551619999999]
07049 S MAPLEWOOD AVE
[41.7649941, -87.68691799999999]
02749 W BELMONT AVE
[41.9394034, -87.6972104]
00249 W 72ND ST
[41.7635877, -87.6303204]
06449 S DREXEL AVE
[41.7771938, -87.60281499999999]
00649 W 111 ST
[41.692389, -87.63949939999999]
00849 E 103RD ST
[41.7075129, -87.60258789999999]
02449 N LAKE SHORE DR
[41.9280026, -87.6317461]
05249 S KING DR
[41.7994002, -87.6160869]
05749 S MAY ST
[41.7891205, -87.6532805]
03149 W FILLMORE ST
[41.86823, -87.70482]
00649 W WASHINGTON BLVD
[41.8831688, -87.6444923]
05849 S PRINCETON AVE
[41.7876533, -87.63255509999999]
01449 S CANAL ST
[41.8621947, -87.63907789999999]
00449 W ELM ST
[41.9026973, -87.64013779999999]
00649 N CHRISTIANA AVE
[41.8933452, -87.7101359]
00549 E 105 ST
[41.70353, -87.60931219999999]
01449 N LINDER AVE
[41.9072237, -87.76308619999999]
06349 S MORGAN ST
[41.7782018, -87.64959449999999]
01149 W 87TH ST
[41.7359387, -87.6528529]
05349 N CLARK ST
[41.9795113, -87.66804739999999]
04249 N KENMORE AVE
[41.9598433, -87.6562653]
06649 S GREENWOOD AVE
[41.7736334, -87.5997007]
03549 N NATCHEZ AVE
[41.9452423, -87.788755]
02649 W 19TH ST
[41.85560479999999, -87.69195669999999]
00149 S OAKLEY BLVD
[41.8790904, -87.68389599999999]
00949 E 133 ST
[41.6537914, -87.5980596]
10449 S MARYLAND AVE
[41.7039345, -87.60271209999999]
01049 N FRANCISCO AVE
[41.900655, -87.69875499999999]
04949 N DAMEN AVE
[41.9720198, -87.6792708]
00449 E LOWER WACKER DR
[41.8875163, -87.6171253]
2

In [17]:
dfTrainLittle.to_csv('ChicagoTrain.csv')

In [18]:
dfTrainLittle[pd.isnull(dfTrainLittle['Latitude'])]['Ward']

4994989    41.0
4995313    42.0
Name: Ward, dtype: float64

In [19]:
dfTrainLittle[pd.isnull(dfTrainLittle['Latitude'])]['District']

4994989    16.0
4995313    18.0
Name: District, dtype: float64

In [20]:
dfTrainLittle[pd.isnull(dfTrainLittle['Latitude'])]['Community Area']

4994989    76.0
4995313     8.0
Name: Community Area, dtype: float64

In [21]:
print(dfTrainLittle[pd.isnull(dfTrainLittle['Ward'])].size)
print(dfTrainLittle[pd.isnull(dfTrainLittle['District'])].size)
print(dfTrainLittle[pd.isnull(dfTrainLittle['Community Area'])].size)

16992
0
17010

In [22]:
dfTrainLittle['Date']=pd.to_datetime(dfTrainLittle["Date"])

dfTrainLittle['Year']=dfTrainLittle['Date'].dt.year
dfTrainLittle['Month']=dfTrainLittle['Date'].dt.month
dfTrainLittle['Day']=dfTrainLittle['Date'].dt.day
dfTrainLittle['Hour']=dfTrainLittle['Date'].dt.hour
#dfTrainLittle['Year'].describe()

dfTrainLittle = dfTrainLittle.reset_index()
#dfTrainLittle[dfTrainLittle['Latitude'] == 0.059100]

In [23]:
dfTrainLittle.to_csv('ChicagoTrain.csv')

# mapping

In [24]:
import gmplot

gmap = gmplot.GoogleMapPlotter(41.862077, -87.701201, 12)
latitudes = dfTrainLittle[pd.notnull(dfTrainLittle['Latitude'])]['Latitude'].values
longitudes = dfTrainLittle[pd.notnull(dfTrainLittle['Longitude'])]['Longitude'].values
#gmap.plot(latitudes, longitudes, 'cornflowerblue', edge_width=5)
#gmap.scatter(latitudes, longitudes, '#3B0B39', size=5, marker=False)
#gmap.scatter(latitudes, longitudes, 'k', marker=True)
gmap.heatmap(latitudes, longitudes)
gmap.draw("mymap.html")
#dfTrainLittle['Latitude']